---
const contactInfo = {
  location: "Irapuato, Gto. México",
  phone: "4622847901",
  email: "cesarjaramillrmz@gmail.com",
};
---

<section id="contacto" class="contacto">
  <div class="contenido-seccion">
    <h2>CONTACTO</h2>
    <div class="fila">
      <!-- Formulario -->
      <div class="col">
        <input type="text" placeholder="Tú Nombre" />
        <input type="text" placeholder="Número telefónico" />
        <input type="text" placeholder="Dirección de correo" />
        <input type="text" placeholder="Tema" />
        <textarea name="" id="" cols="30" rows="8" placeholder="Mensaje"
        ></textarea>
        <button>
          Enviar Mensaje<i class="fa-solid fa-paper-plane"></i>
          <span class="overlay"></span>
        </button>
      </div>
      <!-- Mapa -->
      <div class="col">
        <img src="img/ubicacion.png" alt="" />
        <div class="info">
          <ul>
            <li>
              <i class="fa-solid fa-location-dot"></i>
              {contactInfo.location}
            </li>
            <li>
              <i class="fa-solid fa-mobile-screen"></i>
              {contactInfo.phone}
            </li>
            <li>
              <i class="fa-solid fa-envelope"></i>
              <a href={`mailto:${contactInfo.email}`}>{contactInfo.email}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
